--- 
--- 

@import "{{ site.theme }}";

a {
  color: #4d615f;
}

a:hover {
  text-decoration: none;
  color: #046960;
}

.markdown-body code {
  background-color: rgba(69, 132, 161, 0.85);
  color: white;
}

.markdown-body .highlight pre,
.markdown-body pre {
  background: #8da7ce87;
}

.box pre {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #402e52;
}

@media (prefers-color-scheme: dark) {
  html,body,.markdown-body {
    background-color: #000;
    color: rgba(235, 240, 238, 0.96);
  }

  .markdown-body .highlight pre,
  .markdown-body pre {
    background: #462e54;
  }

  .box pre {
    color: white;
  }

  .markdown-body code {
    background: rgb(31, 91, 62);
    color: white;
  }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: rgb(0, 208, 212);
    }
  
    a {
      color: rgba(96, 255, 220, 0.7);
    }
  
    a:hover {
      text-decoration: none;
      color: #04fbc5
    }
}

.box {
  border: medium solid green;
  color: green;
  padding: 1rem;
}
