--- 
--- 

@import "{{ site.theme }}";

@media (prefers-color-scheme: dark) {
  html,body,.markdown-body {
    background-color: #000;
    color: rgba(235, 240, 238, 0.96);
  }

  .markdown-body .highlight pre,
  .markdown-body pre {
    background: #462e54;
  }

  .markdown-body code {
    background: rgb(31, 91, 62);
    color: white;
  }
}

.box {
  border: medium solid green;
  color: green;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(0, 208, 212);
}

a {
  color: #04fbc5;
}

a:hover{
  text-decoration: none;
}